.div-container {
  display: flex;
}

.card {
  width: 30%;
  margin: 3rem 1rem;
  border-radius: 10px;
  height: 300px;
  margin: 3rem auto;
}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://images.unsplash.com/photo-1709893262122-bf3aa1fc3d37?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  filter: blur(10px);
  z-index: -1;
}

.card-content {
  padding: 10px 20px;
  line-height: 30px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 80vh;
}
.card-content input {
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  margin-top: 2rem;
}
.card-content li {
  list-style-type: none;
}

.card-content h2 {
  text-align: center;
  width: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  padding: 10px;
}

/* Todo card */

.add-list {
  border: 1px solid;
  display: flex;
  border-radius: 5px;
  padding: 0.5rem 0;
  align-items: center;
  /* max-width: 50%; */
  margin: 1rem auto;
}

.add-list button {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 5px;
}

.li-list {
  border: 1px solid;
  margin-top: 20px;
  border-radius: 5px;
  padding: 8px;
}

.column {
  height: 100vh;
  width: 30%;
  margin: 3rem 1rem;
  border-radius: 5px;
}
.column-content {
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
}
.column-content h2 {
  text-align: center;
  width: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  padding: 10px;
}
